#my_nav_menu{
    justify-content: right!important;
} li a{
    padding: 0 10px!important;
}
#my_nav_menu_footer{
    justify-content: left!important;
} li a{
      padding: 0 10px!important;
  }
.justify-content-right {
    justify-content: right !important;
}
.main-page-content .content{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.main-page-content .content img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
}
.main-page-content .content h1{
    font-size: 1.5rem;
    margin: 20px 0;
}
.main-page-content .content article{
    margin: 30px 0;
    border-bottom: 1px solid #000;
    padding: 20px;
    justify-content: center;
}